.toolbar {
    display: flex;
    flex-wrap: wrap;
    min-height: 64px;
}

.logo {
    margin: auto 149px auto 0;
}

.logo a {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    padding-left: 6px;
    color: #0F2A59;
    text-decoration: none;
}

.page-nav {
    margin: auto 0 auto 0;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.nav-list {
    padding-right: 24px;
    background: url(../images/line.png) no-repeat 100% 50%;
}

.nav-list:last-child {
    background: none;
}

.nav-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #181818;
    padding-right: 13px;
    padding-left: 20px;
    text-decoration: none;
    background: url(../images/stroke.png) no-repeat 100% 50%;
}

.nav-link:hover {
    font-weight: 700;
}

.languages {
    min-width: 100px;
    display: flex;
    margin: auto 8px auto auto;
}

.flag-buttons {
    display: flex;
    height: 100%;
    margin: auto 0 auto 7px;
}

.flag-button {
    border: 0;
    margin: auto 16px auto 0;
    padding: 0;
    cursor: pointer;
}

.flag-button img {
    width: 24px;
    height: 18px;
}

.btn-ru {
    margin: 0;
}

.burger {
    display: none;
}


@media screen and (max-width: 870px) {
    .logo {
        margin-right: 15px;
    }
}

@media screen and (max-width: 670px) {
    .toolbar {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 50px;
    }

    .logo {
        margin: 0 auto;
    }

    .menu-btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 10px;
        right:20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 2;
    }

    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu-btn > span::before {
        content: '';
        top: -8px;
    }
    .menu-btn > span::after {
        content: '';
        top: 8px;
    }

    .menu-box{
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 300px;
        height: 250px;
        margin: 0;
        padding: 20px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
        z-index: 1;
    }

    .menu-item {
        display: block;
        padding: 12px 24px;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu-item:hover {
        background-color: #CFD8DC;
    }

    #menu-toggle{
        opacity: 0;
    }

    #menu-toggle:checked ~ .menu-btn > span{
        transform: rotate(45deg);
    }
    #menu-toggle:checked ~ .menu-btn > span::before{
        top: 0;
        transform: rotate(0);
    }
    #menu-toggle:checked ~ .menu-btn > span::after{
        top: 0;
        transform: rotate(90deg);
    }
    #menu-toggle:checked ~ .menu-box{
        visibility: visible;
        right: 0;
    }

    .languages {
        padding: 12px 48px;
    }
}
