*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Inter', sans-serif;
    color: #181818;
    font-size: 14px;
    margin: 0;
}

.container {
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}
